.user-list-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .user-list-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .user-list-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .user-list-container li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-list-container li p {
    margin: 5px 0;
  }